# Add all DIR and files should not be committed

# Nico's files
my_notes
rawdata/
rawdata/*.fastq
pipeline_USEARCH/testing/*.sh
pipeline_USEARCH/code/usearch_pipeline_v.0.1.sh
pipeline_USEARCH/code/usearch_pipeline_v.0.2.sh
pipeline_USEARCH/usearch/usearch_linux_x86_12.0-beta
pipeline_USEARCH/taxonomy_db/ltp_16s_v123.fa
pipeline_USEARCH/taxonomy_db/ltp_16s_v123.udb
pipeline_USEARCH/taxonomy_db/rdp_16s_v16.fa
pipeline_USEARCH/taxonomy_db/rdp_16s.udb

# Jinny's files
